@font-face {
  font-family: "poppins";
  src: url(./fonts/Poppins-Regular.ttf);
}
html {
  font-family: "poppins", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
a {
  text-decoration: none;
}
.mainbox {
  width: 360px;
  height: 640px;
  border: 1px solid #000;
  border-radius: 20px;
  margin: 20vh auto;
  justify-content: space-between;
}
.purple-btn {
  background-color: #6c63ff;
  width: 8rem;
  height: 2.5rem;
  border-radius: 30px;
}
.img-desktop {
  position: relative;
  top: 1rem;
  z-index: -1;
}
.launch-screen a {
  position: relative;
  top: 10rem;
}
.logo-small {
  width: 15%;
  position: relative;
  bottom: 1.5rem;
}
.left-angle {
  position: relative;
  top: 0.5rem;
  right: 10rem;
}
.gray-box {
  background-color: #f6f6f6;
  row-gap: 1.5rem;
  padding: 1rem 1rem 2rem 1rem;
  box-shadow: 0 -3px 3px #ababab;
  border-radius: 20px;
}
.gray-point {
  width: 6px;
  height: 6px;
  background-color: #ababab;
  border-radius: 50%;
}
.purple-bar {
  width: 25px;
  height: 6px;
  background-color: #6c63ff;
  border-radius: 5px;
}
.deco-wrapper {
  flex-direction: row;
  gap: 5px;
  margin-bottom: 1rem;
  padding-top: 0.8rem;
}
h2 {
  font-size: 1rem;
  font-weight: 200;
  text-align: center;
}
.purple-text {
  font-weight: bolder;
  color: #6c63ff;
  font-size: larger;
}
fieldset {
  background-color: rgb(41, 67, 84);
  padding: 1em;
  padding-bottom: 1.8em;
}

h1 {
  color: white;
  padding: 1.2em;
  text-align: center;
}
input[type="button"] {
  color: white;
  background-color: rgb(41, 67, 84);
  font-size: 1em;
  width: 49.35%;
  height: 70px;
  cursor: pointer;
}
input[type="submit"] {
  color: white;
  background-color: rgb(86, 204, 149);
  font-size: 1.3em;
  font-weight: 700;
  width: 100%;
  height: 70px;
  word-spacing: 0.5em;
}

section input {
  background-color: rgb(41, 67, 84);
  height: 35px;
  color: white;
  margin-bottom: 20px;
}
::placeholder {
  color: gainsboro;
}
div input {
  width: 100%;
}

.name input {
  width: 49.3%;
}
.forgot {
  color: rgb(66, 202, 59);
  width: 100%;
  padding-bottom: 1em;
  text-align: right;
  display: block;
}

header input:hover {
  background-color: rgb(173, 250, 106);
}
