h3{
    font-size: 48px;
    background-color: gray;
    font-family: Arial;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

p{
    color: #333;
    font-size: 20px;
    width: 95%;
    margin: 0 auto;
}

li{
    color: #777;
    font-size: 20px;
    line-height: 40px;
}

li:nth-of-type(1){
    text-decoration: overline;
}
li:nth-of-type(2){
    text-decoration: line-through;  
    text-align: center;
}
li:nth-of-type(3){
    text-decoration: underline;
    text-align: right;
}