*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 11vw;
}
.photo1{
    width: 15em;
}

.photo2{
    width: 20em; 
}

.photo3{
    width: 5em;
    
}

.photo4{
    width: 11rem;  
}

.photo5{
    width: 15%;
}

.photo6{
    width: 17vw;
}