*{
    box-sizing: border-box;
}

section{
    background-image: url(../img/samsung-memory-TnwB8XOYaHA-unsplash.jpg);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
}